#favorite-team-title {
  color: white;
  font-size: larger;
  font-weight: 700;
}
.choose-team-container {
  padding: 20px;
  background-color: #2d2d2d;
  border-radius: 26px;
  box-shadow: rgba(0, 0, 0, 0.385) 0px 25px 50px -12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  margin-left: 10px;
}

.dropdown-container {
  display: flex;
  flex-direction: row;
}

#name-favo-span {
  font-weight: 900;
  font-size: 1.5rem;
  text-decoration: underline;
}
